.profile {
	padding-left: 20%;
padding-top: 5%;
padding-bottom: 579px;
}

.profile h1{
	font-size: 40px;
	padding-left: 3%;

}
.cards-container p{
	font-size: 40px;
}
.cards-container img{

	max-height: 400px;
	max-width: 400px;
}
.cartas {
	margin: 10px;
	border-radius: 5%;

}