.nav{
	background-color: #fcd5ce;
	padding:20px;
	text-align: right;

}
.nav span{
	font-size: 25px;
}

.logotipo{
	height: 55px;
	width: 55px;
	margin-right: 1400px;
	padding-top: 5px;
	border-radius: 1%;


}
.nav Button {
	background-color: #fec89a;
	color:gray;
	font-size: 30px !important;
}
.btnbar button{
	margin-right: 50px;
	height: auto !important;
}