.LoginPage{
	display: flex;
	flex-direction: column;
	align-items: center;
justify-content: center;
padding: 216px;
font-size: 35px;
}
.LoginPage p {

	font-size: 20px;
}

.btn{
	color: gray;
	margin-left: 30px;
}