*{
	font-family: 'Cormorant Garamond', serif;

}
.fondoV{
background-image: url("/public/prueba.jpg");
background-size:cover;
background-repeat: no-repeat;
height: 80vh;
display: flex;
justify-content: center;
padding-top: 5%;


}
.antxt{
border-radius: 1%;
height: 70%;
margin-left: 15%;
width: 1000px;
background-color: rgba(242, 188, 173, 0.4);
font-size: 30px;
/* font-family:Verdana, Geneva, Tahoma, sans-serif; */
box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}
.fondoV img{
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	border-radius: 2%;
}
.carru{
max-width: 100vw;
padding-left: 50px;
padding-right: 50px;


}
 .carrusel img{
max-width: 600px;
max-height: 330px;

 }

 .carrusel{
text-align: center;
position: relative;

 }
 /* .carrusel p{
position: absolute;
top: 25px;
right: 25px;
 } */
 .carrusel-texto {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 50px;
  background-color: rgba(224, 185, 171, 0.5);
  color: #111010;
  padding: 20px;
	font-size: 30px;
}

 .slick-prev:before, .slick-next:before{
color: black !important

 }
.cards{
	display: flex;
	flex-direction:row;
	justify-content: space-evenly;
	padding-top: 100px;
	padding-bottom: 20px;
	
}
.cards img{

	max-height: 250px;
}

.servicios{
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;


}
.redes{

	padding-left: 20px;
}